.left{
    width: 50%;
    position: relative;
    left: 0;
    background-color: transparent;
    
}
.right{
    width: 50%;
     position: relative;
    right: 0; 
    background-color: transparent;
}
.buttons{
    background-color: white;
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: row;
}